@model CartIndexViewModel
@{
    int num = 0;
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>№</th>
            <th>Title</th>
            <th>Price</th>
            <th>Count</th>
            <th>Total Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cart.CartItems)
        {
            <tr>
                <td>@(++num)</td>
                <td>@item.Product.Title</td>
                <td>@item.Product.Price.ToString("# EUR")</td>
                <td>@item.Count</td>
                <td>@((item.Count * item.Product.Price).ToString("# EUR"))</td>
                <td>
                    <form asp-controller="Cart" asp-action="DeleteFromCart" asp-route-id="@item.Product.Id">
                        <input type="hidden" value="@Model.ReturnUrl" name="returnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger">Delete from Cart</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4">Total Price:</th>
            <th>@Model.Cart.TotalPrice.ToString("# EUR")</th>
            <th></th>
        </tr>
    </tfoot>
</table>
<p>
    <form asp-controller="Cart" asp-action="DeleteAllFromCart">
        <input type="hidden" value="@Model.ReturnUrl" name="returnUrl" />
        <button type="submit" class="btn btn-outline-danger">Delete All From Cart</button>
    </form>
</p>
<p>
    <a href="@Model.ReturnUrl" class="btn btn-outline-success">Return</a>
</p>