@{
	ViewData["Title"] = "Car Info";
}
@model Car;

<div class="text-center">
	<h3>
		The car @Model.Mark @Model.Model from @Model.Year, it's color is @Model.Color, it has a @Model.EngineDisplacement litres engine displacement
	</h3>
</div>
