@{
    ViewData["Title"] = "Home Page";
}
@model List<Book>

<div class="text-center">
    @foreach(Book book in Model)
    {
        <div>
            @book.Title
        </div>
        <div>
            @book.Author
        </div>
        <div>
            @book.Publisher, @book.Year
        </div>
        <div>
            @book.Style
        </div>
        <div>
            <img src="@book.ImagePath" alt="@book.Title">
        </div>
    }
</div>
